chat_app/db.sqlite3
chat_app/chat/__pycache__/
chat_app/chat_app/__pycache__/
chat_app/user/__pycache__/
chat_app/user/migrations/__pycache__/
chat-frontend/node_modules
chat_app/chat.log
__pycache__/